.estilo {
    display: flex;   
    background-color: #110F0F;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    height: 200px;
 
}


 .listClassName {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
   
}
.listClassName li{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 35px;
    color: #FFFFFF;
    list-style-type: none;
    padding: 5px;
    margin-right: 10px;           
}

.estilo .box{
    
    width: 130px;
    height: 116px;
    margin-right: 500px;
    background-image: url("../img/projetoMusica.jpeg");
    background-position: center;
}

@media screen and (max-width:1250px){
    .box{
        display: none;
        
    }
}

.corpo{
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     align-items: center;
     height:523px;
     left: 0px;
     top: 201px;
     background: url("../img/projeto.jpeg");  
     background-size: 100%;
}

@media screen and (max-width: 900px){
     .corpo{
         height:100vh;
         background-position: center;
         background-size: cover;
   
     }

}


h1{

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size:   50px;
    line-height: 47px;
    color: #FFFFFF;
    margin-top: 46px;
    

}
@media screen and (max-width:800px){
       h1{
           margin-left: 20px;
           text-align: center;
            
       }

}
h2{
    font-family: Roboto;
    font-style: normal;
    font-weight:normal;
    font-size: 20px;
    line-height: 25px;
    color: #6F6464;
    text-align:left;
    line-height: 35px;


}
.corpo .botao{
    width: 326px;
    height: 81px;
    background: #D22A2A;
    border-radius: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
    text-decoration: none;
    margin-top: 100px;
}

@media screen and (max-width:900px){
   .corpo .botao{
        margin-top: initial;
   }

}

.principalfooter{
    display: flex;
    flex-wrap: wrap;
    max-width: 1440px;
    width: 100%;
    height: 300px;
    left: 0px;
    top: 724px;
    background: #110F0F;
    flex-direction: row;
    align-items: flex-start;
}

.principalfooter h1{
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    text-align:justify;

}

.principalfooter ul{
     list-style: none;
}
.principalfooter a{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
    font-size: 15px;
    line-height: 19px;

}


.principalfooter .footer{
    width: 114px;
    height: 116px;
    margin-top: 100px;
   

}

.principalfooter .comunidades{
    width: 155px;
    height: 29px;
    margin-left: 50px;
    margin-top: 100px;
}  

.principalfooter .links{
    width: 144px;
    height: 35px;
    margin-left: 50px;
    margin-top: 100px;
}

@media screen and (max-width:1000px){
     .principalfooter{
         display: none;
     }

}

.corpo1{
    display: flex;
    flex-direction: column;
    background-image:url(../img/projeto.jpeg);
    background-size: 100%;
    height: 100vh;
    width: 100%;
    align-items: center;
    

}
 
@media screen and (max-height:850px){
    .corpo1{
            display: flex;
            background-size:cover;
            background-repeat: no-repeat;
            background-position: center;
            width: 100%;
            
     }
} 
@media screen and (min-width:600px){
    .corpo1{
          display: flex;
          height: 900px;
          width: 100%;
    
    }
}
@media screen and (min-height:852px){
   .corpo1{
          display: flex;
          background-size: 230%;
          background-repeat: no-repeat;
          background-position: center;
          width: 100%;
   }

}
  




.usuario{
    position: absolute;
    width: 30px;
    height: 19.23px;
    margin-left:180px;
    margin-top: 98px;
}


.password{
    position: absolute;
    width: 30px;
    height: 34.71px;
    margin-left: 180px;
    margin-top: 235px;
}

.formulario31 input{
    margin-top: 80px ;
    vertical-align: 30px;
    background: #F4F4F4;
    border-radius: 9px;
    width: 335px;
    height: 55px;
    margin-left:10px;  
    border-radius: 9px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300px; 
    font-size: 23px;
    line-height: 23px;
    
}
.usuario{
    position: absolute;
    position: absolute;
    width: 30px;
    height: 19.23px;
    margin-left: 270px;
    top: 203px;
}
.cadeado{
    position: absolute;
    width: 30px;
    height: 34.71px;
    margin-left:270px;
    top: 445px;
}





.corpo1 .enviar{
    width: 335px;
    height: 55px;
    background: #9C0C0C;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 9px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 41px;
    color: #FFFFFF;
}

.lista31{
        display: flex;
        align-items:flex-end;
        flex-direction: row;
        justify-content: space-between;

}

.senha{
    width: 200px;
    height: 5px;
    margin-right:20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    white-space: nowrap;
}
.cadastrar {
    margin-right: 40px;
    width: 95px;
    height: 22px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.facebook{
    position: absolute;
    width: 33px;
    height: 28px;
    margin-top: 54.89px;
    margin-left: -55px;



}
.gmail{
    position: absolute;
    width: 27.79px;
    height: 28px;
    margin-left:130px;
    margin-top:54.89px;
}
.botao1{
    margin-top: 50px;
    margin-left:10px;
    width: 150px;
    height: 35px;
    border-radius: 5px;
    font-family:'Courier New', Courier, monospace;
    font-style:unset;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;    
    text-align: end;
    background-color: #3B5998;
    text-align: start;
    
    
}


.botao2{
    margin-top: 50px;
    margin-left: 30px;
    width: 153px;
    height: 37px;
    background-color: #D22A2A;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-style: unset;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    text-align: start;

}

















